body {
    margin: 8px;
    display: block;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
    background-color: grey;
    text-align: center;
}

h1 {
    text-align:center;
    color:black;
}

h2,h3,h4 {
    text-align: center;
    color: blue;
    font-size: 20px;
    text-shadow: 1px 1px 1px black,
    2px 2px 2px black;
  
}

#mainHeading {
    color:red;
    font-size:96px;
    text-shadow: 3px 3px 3px black,
    5px 5px 5px black;
}

.funParagraph {
    color: green;
}

#testP {
    color: green;
    font-family: "Futura";
    font-size: 18px;
    text-align: right;
    padding: 95px;
}

footer {
    color: black;
    font-family: "Futura";
    font-size: 14px;
    text-align: center;
}

#video {
    padding: 20px;
}

article{
    text-align: left;
}

